body { padding-top: 50px; }

.navbar-blue {
  background-color: #0099FF;
}
.navbar-blue .navbar-brand {
  color: #fff;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
  color: #fff;
}

.navbar-blue .navbar-nav > li > a {
  color: #fff;
}
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}


.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
  
   border-color: #fff;
}
.navbar-blue .navbar-toggle .icon-bar {
  background-color: #fff;
}
.sidepanel{background-color:#b6b6b6; position: absolute; top: 50px; right: 0;  bottom: 0; width: 50%; *height: 100%; overflow: auto}


.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  /*font-size: 16px;*/
   font-size: 18px;
  color: inherit;
}


.panel-info {
  border-color: #ffffff;
}
.panel-info > .panel-heading {
  color:#fff; /*#31708f;*/
  background-color:#000  ;/*#d9edf7;*/
  border-color: #bce8f1;
}
.panel-info .panel-title .badge {
  color: #337ab7;
  background-color: #fff;
     font-size: 25px;
}

.panel-info .panel-footer, .panel-footer .panel-title a:hover, .panel-title,.panel-footer a:focus {
	text-decoration: none;
}


.panel-footer {   
  padding: 3px 5px;
  background-color: #f5f5f5;
  /*border-top: 1px solid #ddd;*/
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;  
  border-color: #bce8f1;
  color:#fff;

}
.panel-filter{
	padding-left:20px;
	border-:0;
} 

.panel-group .group-heading {
  padding:5px 0  ;
  min-height: 20px;
  margin-bottom: 5px;
  background-color: #f5f5f5; 
   border:1px 0px;
   border-color:#e3e3e3;   
  border-radius: 4px;
}

#panelicon {
  position: relative;
  min-height: 1px;
  width:5px;
  padding: 0;
  margin-right:15px;
}

#checkboxes { 
	position: absolute; 
	top: 50px; 
	right: 10px;
	font-family: 'arial', 'sans-serif'; 
	font-size: 14px;
	background-color: white;
	border: 1px solid black;
	padding: 10px 10px 0px 10px;
}
/*
#panelleft{
overflow:auto;
top: 50px; left: 0;  bottom: 0;
position: absolute;

}*/
#panelright{
	overflow:auto;
	top: 55px; right: 0;  bottom: 0;
	position: absolute;
	z-index:100;
}

#paneltopright,#panelnews{
display:none;
}	
@media (min-width: 768px) {
	#paneltopright{
	/*overflow:auto;*/
	top: 55; right: 0;  bottom: auto;
	position: absolute;
	margin-right:60px;
	margin-top:10px;
	display:block;
	z-index:1;
	}	
	#panelnews{
	/*overflow:auto;*/
	top: auto; left: 0;  bottom: 0;
	width
	position: absolute;
	margin-left:0px;
	margin-bottom:0px;
	display:block;
	z-index:1;
	}
}




/*========== FEEDS STYLE */
#panelnews{
display:none;
}
@media (min-width: 768px) {
	#panelnews{
	/*overflow:auto;*/
	top: auto; left: 0;  bottom: 0;
	width
	position: absolute;
	margin-left:0px;
	margin-bottom:0px;
	display:block;
	z-index:1;
	}
}
.news-item{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555; 
	color: #fff;
}

.news-item a {
	text-decoration: none;
	color: #fff;
}
.news-item a:hover {
	text-decoration:underline;	
}
#feed-content{
list-style: none;		
}
/*========== END FEEDS STYLE */


#map-canvas{
	position: absolute;	
	top: 50px; left: 0;  bottom: 0;
	
}
.rowtop{
	margin-top:60px;
}
.img-circle {
  border-radius: 50%;
  height:20px;
}
.img-list {
  border-radius: 6px;
  height:16px;
  width:16px;
}

.select-title{
	  font-size: 18px;
}